.LandingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: calc(var(--input-height)*0.25); */
    padding: calc(var(--input-height)*0.7) calc(var(--input-height)*1);

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: fit-content;

    background-color: var(--input-color);
    border-radius: 1rem;
    outline: thin solid #71747e;
    outline-offset: -0.25rem;
}

.LandingContainer * {
    font-family: 'HYWenHei';
    transition: 0.3s all ease-in-out;
}

.LandingContainer label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(var(--input-font-size)*1.1);
    color: var(--label-color);
    width: calc(var(--input-width)*1.2);
    margin: calc(var(--input-height)*0.3) 0;
}

.inputdiv {
    background-image: url('../../assets/input-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: calc(var(--input-width)*2);
    width: calc(var(--input-width));
    height: calc(var(--input-height));
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputdiv input {
    background-color: aliceblue;
    border: none;
    width: 75%;
    height: 50%;
    text-align: center;
    font-size: var(--input-font-size);
    color: #3e4557;
}

.inputdiv input:focus {
    border: none;
    outline: none;
}

.droplist {
    border: none;
    width: calc(var(--input-width)*0.9);
    border-radius: calc(var(--input-width)*2);
    transition: 0.4s;
    padding: 0 0.15rem;
    color: #3e4557;
}

.droplist:focus {
    outline: none;
}

#questions option:hover {
    /* width: calc(var(--input-width)); */
    background-color: #3f75ff;
}

.button {
    position: relative;
    background-image: url('../../assets/buttonImgw.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    width: calc(var(--input-width)*0.45);
    height: calc(var(--input-height));
    background-color: transparent;
    color: var(--input-color);
    transition: filter 0.3s ease;
}

.button:hover {
    cursor: pointer;
    filter: brightness(80%) saturate(2) hue-rotate(200deg);
}

@media screen and (min-width:1024px) {
    .LandingContainer{
        top: 50%;
    }
}