.leaderboardContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    height: calc(96vh - 70px)
}

.leaderboardSearchbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    aspect-ratio: 30/1;
    height: auto;
}

#search-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: var(--input-color);
    width: 85%;
    height: 100%;
    /* padding: 0 0.5rem; */

}

#search-filter * {
    padding: 0 0.5rem;
}

#search-filter.search-filter-bordered {
    border: thin solid var(--label-color);
}

#search-filter #leaderboardSearch {
    border: none;
    font-family: var(--font--family);
    font-size: calc(var(--input-font-size)*0.8);
    border-radius: 1rem;
    background-color: transparent;
    color: var(--label-color);
    width: 90%;
}

#search-filter #leaderboardSearch:focus {
    outline: none;
    border: none;
    background-color: transparent;
}

input:-webkit-autofill {
    background-color: transparent !important;
    appearance: none;
}

#search-filter .leaderboardSearchButton {
    border: none;
    padding: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: transparent;
    color: var(--label-color);
}

.leaderboardFilterbar {
    position: relative;
    width: 10%;
    text-align: center;
    vertical-align: middle;

}

.filterPopup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    background-color: var(--background-color1);
    border-radius: 0.5rem;
    z-index: 100;
    width: 15rem;
    height: 10rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s linear;
}

.filterIcon {
    font-size: 1.25rem;
    border-radius: 0.5rem;
    transition: all 0.3s linear;
    padding: 0.2rem;
}

.leaderboardFilterbar .filterIcon:hover {
    background-color: var(--input-color);
}



.filterPopup .filterItem {
    position: relative;
    width: 3.5rem;
    height: 2rem;
}

.filterItem div {
    position: absolute;
    z-index: 1;
    font-size: 0.7rem;
    margin: 0.5rem 0.25rem;
    color: #ffffffdc;
    pointer-events: none;

}

.filterPopup .filterItem img {
    filter: grayscale(1);
    border-radius: 0.15rem;
    transition: all 0.1s linear;
}

.filterPopup .filterItem:hover img {
    cursor: pointer;
    /* border: thin solid blue; */
    outline: 2px solid #4a455179;
    transform: scale(1.05);
    filter: grayscale(0);
}

.filterPopup img.activeFilter {
    filter: grayscale(0);
}

.leaderboardResults {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    gap: calc(var(--input-height)*0.5);
    /* height: 100%; */
    overflow-y: auto;
}

.LeaderboardResult {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
    width: 90%;
    height: auto;
    aspect-ratio: 7/1;
    padding: 0 1rem;
    background-color: #dfdbd0;
    border: 0.1rem solid #dfdbd0;
    border-radius: 5rem;
    text-transform: capitalize;
    box-sizing: border-box;
    flex-shrink: 0;
    font-size: calc(var(--input-font-size)*0.9);
    color: var(--input-color);
    /* box-shadow: 0 0 0.5rem 0.1rem var(--input-color); */
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: right;
}

.Leaderboardcategory,
.leaderboardName {
    width: 25%;
}

.Leaderboardcategory {
    text-align: right;
    font-weight: 500;
    color: #dfdbd0;
}

.Science-Mathematics {
    background-image: url('../../assets/MathsBg.png');
}

.Science-Computers {
    background-image: url('../../assets/ComputersBg.png');
}

.Art {
    background-image: url('../../assets/ArtBg.png');
}

.Music {
    background-image: url('../../assets/MusicBg.png');
}

.JapaneseAnime-Manga {
    background-image: url('../../assets/AnimeBg.png');
}

.Mythology {
    background-image: url('../../assets/MythBg.png');
}

.VideoGames {
    background-image: url('../../assets/GamesBg.png');
}


.LeaderboardSvgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    width: 40%;
    font-size: calc(var(--input-font-size)*0.8);
    color: #4c4842;
}

@media (max-width: 1024px) {
    .filterPopup.visible {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

}

@media (min-width: 768px) {
    .LeaderboardResult {
        aspect-ratio: 10/1;
    }
}

@media (min-width: 1024px) {
    .leaderboardFilterbar .filterIcon:hover+.filterPopup,
    .filterPopup:hover {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        /* Allows interaction when visible */
    }
    .LeaderboardResult {
        aspect-ratio: 12.5/1;
    }
}