.questionsPage {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.questionsMap {
    display: inline-block;
    margin-right: 2rem;
}
.questionMapElement{
text-transform: capitalize;
}

.questionContainer {

}
.questionContainer .button{
    padding: 1% 2%;
}
.questionBody{

}
.answerRadio{

}