.resultPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.QuizCard {
    background-color: var(--input-color);
    width: fit-content;
    margin: calc(var(--container-scale)/10);
    padding: calc(var(--container-scale)/8) calc(var(--container-scale)/6);
    border-radius: calc(var(--container-scale)/15);
    box-sizing: border-box;
    outline: 1px solid var(--border-color);
    outline-offset: -0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 0.5rem;
    color: #d9d8f4;

    /* display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1.5rem;
    border: thin solid rgba(113, 158, 197, 0.256);
    border-radius: 0.5rem;
    width:18rem;
    background-color: #3f3f601c;
    color: #d9d8f4; */
}

.QuizCard p {
    margin: 0;
}

.QuizCard .Qbutton {
    margin-top: 0.75rem;
}

.resultHeadContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultHead {
    text-align: center;
    color: var(--highlighted-color);
    padding: 0.25rem;
    font-size: calc(var(--container-scale)/10);
}

.ResultData {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    font-size: var(--input-font-size);
    gap: 0.35rem;

}

.ResultData div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 0.5rem;
    margin-bottom: 0.25rem;
    width: 85%;
    background-color: #4b53662c;
    box-shadow: 0 0 0.4rem 0.05rem #2830442c;
    background-image: url('../../assets/XYZ_.png');
    background-size: 35%;
    background-position: right;
    background-repeat: no-repeat;
}

/* 4b5366 */
.gradeContainer {
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#GradeSvgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
    margin-bottom: 0.5rem;
    box-shadow: 0 0 0.4rem 0.05rem #2830442c;
}

#detailedGradeContainer {
    display: none;
    width: 85%;
    font-size: 0.8rem;

    box-shadow: 0 0 0.4rem 0.05rem #2830442c;
    background-image: url('../../assets/XYZ_.png');
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;
}

.detailedGradeFlexContainer {
    flex-direction: column;
    justify-content: space-evenly;
}

#GradeSvgContainer,
#detailedGradeContainer {
    padding: 0.5rem;
    /* border-radius: 0.5rem; */
    height: 100%;
}

#GradeSvgContainer:hover,
#detailedGradeContainer:hover {
    cursor: pointer;
    background-color: #8c88ff0e;
    background-color: #4b53662c;
}

.dateDiv {
    width: 100%;
}

.dateDiv,
.dateDiv * {
    font-size: 0.6rem;
}

/* detailedResults */

.detailedResults {
    width: 90%;
}

.detailedResults .answer {
    background-color: var(--input-color);
    width: fit-content;
    margin: calc(var(--container-scale)/10);
    padding: calc(var(--container-scale)/8) calc(var(--container-scale)/6);
    border-radius: calc(var(--container-scale)/15);
    box-sizing: border-box;
    outline: 1px solid var(--border-color);
    outline-offset: -0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 0.5rem;
    color: #d9d8f4;


    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.detailedResults .answer>div {
    width: 100%;
    margin: 0.15rem;
    font-size: calc(var(--input-font-size)*0.7);

}

.detailedResults .answer>.answerHead {
    text-align: center;
    font-size: calc(var(--input-font-size)*0.9);
}

.detailedResults .answer>.userAnswerHeading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* padding: 0.75rem 0.5rem; */
    color: #e4dfd1;
    width: 85%;
    background-color: #4b53662c;
    box-shadow: 0 0 0.4rem 0.05rem #2830442c;
    background-image: url('../../assets/XYZ_.png');
    background-size:  auto 100%;
    background-position: right;
    background-repeat: no-repeat;
}
.detailedResults .answer>.userAnswerHeading>span{
 width: 90%;  
 text-align: left;
 padding-bottom: 0.15rem;
 border-bottom: thin solid #fff5d329; 
 /* margin: 0 0.5rem; */
box-sizing: border-box;
}
.userRecordedAnswer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    min-height: 1rem;
    text-align: left;
    vertical-align: middle;
    margin: 0.5rem;
    /* margin-top: 0.5rem;
    margin-left: 0.5rem; */
}
.userRecordedAnswer>span:nth-of-type(2){
    font-size: calc(var(--input-font-size)*0.55);
}
.answer div.correctAnswer{
    width: 95%;
}
/* .detailedResults .answer span {
    margin: 0 0.25rem;
} */