:root {
  --input-width: 14rem;
  --input-height: 1.75rem;
  --input-font-size: 0.85rem;
  --input-color: #404756;
  --border-color: #71747e;
  --label-color:#ebedff;
}

html,
body {
  background-color: hsl(240, 2%, 8%);
  color: aliceblue;
  font-family: 'HYWenHei';
}

@font-face {
  font-family: 'HYWenHei';
  /* Name your font */
  src: url('./assets/font/zhcn.woff') format('woff');
  /* Path to your .woff file */
  font-weight: normal;
  /* Optional: Specify weight */
  font-style: normal;
  /* Optional: Specify style */
}

nav {}

nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: aliceblue;
  display: inline-block;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.65rem;
  background-color: transparent;
  border: 0.1rem solid transparent;
}

nav a:nth-of-type(2):hover {
  background-color: #686e732d;
  border: 0.1rem solid rgba(0, 0, 0, 0.401);
}